parameters:
	level: max
	ignoreErrors:
		-
			message: '#thecodingmachine/safe#'
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime

includes:
	- ../../vendor/wyrihaximus/async-test-utilities/rules.neon
